:root {
    --color-text: #5e5e5e;
    --color-h: #939393;
    --content-width: 1197px;
}

html {
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
}

h1, h2 {
    font-family: 'Nunito Sans', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--color-h);
}

.wrapper {
    max-width: var(--content-width);
    margin: auto;
}

.layout-2-column {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

.header__wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
}

.navigation__link {
    list-style: none;
    padding: 0 20px 0 20px;
    cursor: pointer;
    font-size: 2.2rem;
}

.header__contacts {
    flex-grow: 2;
}

.section__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__text {
    display: flex;
    flex-direction: column;
    align-items: right;
}
